/* General page style */
* {
	border: 0;
	margin: 0;
	padding: 0;
}

html {
	background-color: #C7C7C7;
	background-color: rgba(199, 199, 199, 1);
	background-image: url("../images/bg.png");
}

body {
	background-color: #FFF;
	font-family: 'Open Sans', sans-serif;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-size: 1em;
}


/* General font style */
h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	color: #2A2829;
}

h2 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
	color: #668284;
}

h3 {
	font-size: .95em;
	text-transform: uppercase;
	font-weight: normal;
	color: #668284;
}

p {
	font-size: .95em;
	font-weight: normal;
	color: #000;
}


/* Header */
.header {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	text-align: center;
	background-color: #FFF;
}

.header h1 {
	font-size: 1.9em;
	font-weight: bold;
}

@media screen and (max-width:640px) {
	.header h1 {
		font-size: 1.5em;
	}

	.header h2 {
		font-size: .8em;
	}
}


/* Main Menu */
.menu ul {
	background-color: #668284;
	color: #FFF;
	float: left;
	font-size: 1.1em;
	font-weight: normal;
	width: 100%;
}

.menu li {
	display: inline;
}

.menu li a {
	background-color: #668284;
	color: #FFF;
	padding: .25em .4em;
	float: left;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #2A2829;
	color: #fff;
}

.menu li a.active {
	background-color: #2A2829;
	color: #fff;
}

@media only screen and (max-width:480px) {
	.menu li {
		display: block;
	}

	.menu li a {
		border-bottom: .1em solid #2A2829;
		display: block;
		float: none;
		margin: 0;
		padding: .25em 0;
		text-align: center;
		width: 100%;
	}
}


/* Breadcrumbs */
.breadcrumbs {
	clear: both;
	padding: 0.25em 0.5em;
	color: #FFF;
	background-color: #2A2829;
}

.breadcrumbs p {
	color: #FFF;
	font-weight: normal;
	font-size: .9em;
}



/* Content */
.content {
	background-color: #FFF;
	float: left;
	margin: 0;
	padding: 0;
	width: 65%;
}

/* Content */
.content2 {
	background-color: #FFF;
	margin: 0;
	padding: 0;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width:1024px) {
	.content {
		float: none;
		width: 100%;
	}
}

#welcome {
	padding: 1em;
}


/* News */
.news {
	background-color: #FFF;
	float: right;
	margin: 0;
	padding: 0;
	width: 35%;
}

.news h3 {
	color: #000;
	font-size: 0.9em;
	padding-bottom: .25em;
}

.news ul {
	margin-top: 1.25em;
}

.news li {
	list-style-type: none;
	padding-bottom: 1.25em;
}

@media only screen and (max-width:1024px) {
	.news {
		clear: both;
		width: 100%;
		float: left;
	}
}

#latest_news{
	padding: 2em;
}


/* Tariffe*/

.tariffa{
	border: 1px solid gray;
	padding: .2em;
	margin: .2em;
	left: 0px;
	clear: both;
	margin-bottom: 1em;
}
.info{
	overflow: hidden;
	border: 1px solid gray;
	margin: .2em;
	height: 100%;
}


.info2{
	overflow: hidden;
	border: none;
	height: 100%;
	text-align: center;
	line-height:100%;
}

.info2 span{
	padding: 1em;
}

.prezzo{
	border: 1px solid gray;
	margin: .2em;
	float: right;
	height: inherit;
    vertical-align: center;
    padding: 0.5em;
}

.prezzo.h3{
	font-size: 2em;
}

.more{
	border: 1px solid gray;
	margin: .2em;
	text-align: center;
	vertical-align: center;
}

.more2{
	border: 1px solid gray;
	margin: .2em;
	vertical-align: center;
}

.logo{
	float:left;
	padding: 0.2em;
}
.logo img{
	width: 9em;
}

/* Footer */
.footer {
	background-color: #668284;
	clear: both;
	padding: .5em;
	text-align: center;
}

.footer p {
	color: #FFF;
	font-size: .9em;
}