/* General page style */
* {
	border: 0;
	margin: 0;
	padding: 0;
}

html {
	background-color: #C7C7C7;
	background-color: rgba(199, 199, 199, 1);
	background-image: url("../images/bg.png");
}

body {
	background-color: #FFF;
	font-family: 'Open Sans', sans-serif;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-size: 1em;
}


/* General font style */
h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: normal;
	color: #2A2829;
}

h2 {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: normal;
	color: #668284;
}

h3 {
	font-size: .95em;
	text-transform: uppercase;
	font-weight: normal;
	color: #668284;
}

p {
	font-size: .95em;
	font-weight: normal;
	color: #000;
}


/* Header */
.header {
	padding-top: 1.25em;
	padding-bottom: 1.25em;
	text-align: center;
	background-color: #FFF;
}

.header h1 {
	font-size: 1.9em;
	font-weight: bold;
}

@media screen and (max-width:640px) {
	.header h1 {
		font-size: 1.5em;
	}

	.header h2 {
		font-size: .8em;
	}
}


/* Main Menu */
.menu ul {
	background-color: #668284;
	color: #FFF;
	float: left;
	font-size: 1.1em;
	font-weight: normal;
	width: 100%;
}

.menu li {
	display: inline;
}

.menu li a {
	background-color: #668284;
	color: #FFF;
	padding: .25em .4em;
	float: left;
	text-decoration: none;
}

.menu li a:hover {
	background-color: #2A2829;
	color: #fff;
}

.menu li a.active {
	background-color: #2A2829;
	color: #fff;
}

@media only screen and (max-width:480px) {
	.menu li {
		display: block;
	}

	.menu li a {
		border-bottom: .1em solid #2A2829;
		display: block;
		float: none;
		margin: 0;
		padding: .25em 0;
		text-align: center;
		width: 100%;
	}
}


/* Breadcrumbs */
.breadcrumbs {
	clear: both;
	padding: 0.25em 0.5em;
	color: #FFF;
	background-color: #2A2829;
}

.breadcrumbs p {
	color: #FFF;
	font-weight: normal;
	font-size: .9em;
}



/* Content */
.content {
	background-color: #FFF;
	float: left;
	margin: 0;
	padding: 0;
	width: 65%;
}

.fullcontent {
	background-color: #FFF;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

@media only screen and (max-width:1024px) {
	.content {
		float: none;
		width: 100%;
	}

	.fullcontent {
		float: none;
		width: 100%;
	}
}

#welcome {
	padding: 1em;
}


/* News */
.news {
	background-color: #FFF;
	float: right;
	margin: 0;
	padding: 0;
	width: 35%;
}

.news h3 {
	color: #000;
	font-size: 0.9em;
	padding-bottom: .25em;
}

.news ul {
	margin-top: 1.25em;
}

.news li {
	list-style-type: none;
	padding-bottom: 1.25em;
}

@media only screen and (max-width:1024px) {
	.news {
		clear: both;
		width: 100%;
		float: left;
	}
}

#latest_news{
	padding: 2em;
}


/* Footer */
.footer {
	background-color: #668284;
	clear: both;
	padding: .5em;
	text-align: center;
}

.footer p {
	color: #FFF;
	font-size: .9em;
}

/********************************************
				   OPERATOR
*********************************************/

dl.operator {
	width: 70%;
	margin: auto;
}

@media only screen and (max-width:800px) {
	dl.operator {
		width: 95%;
		margin: auto;
		text-align: center;
	}
}

.operator dt {
	background-color: #668284;
	border: .1em dashed #2A2829;
	color: #FFF;
	padding: .25em .25em .25em 1em;

}

.operator dd {
	background-color: none;
	border: .1em dashed #2A2829;
	border-top: none;
	color: #000;
	margin:0 0 2em 0;
	padding: 1em 2em;
}


.operator dd li {
	list-style-position: inside;
	list-style-type: square;
	margin-left: 1em;
	text-align: left;
}


.operator dd img {
	float: right;
	margin: 1em;
	max-height: 50px;
	padding: 0;
}

@media only screen and (max-width:800px) {
	.operator dd img {
		float: none;
		margin: 1em;
		max-height: 50px;
		padding: 0;
	}
}

.operator dd a {
	margin:0 0 0 1em;
}

.operator dd h2 {
	text-align: left;
}