/* General page style */

* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #C7C7C7;
	background-color:rgba(199,199,199,1);
	background-image: url("../images/bg.png");
}



/* General font style */

h1 {
	font-size:3.0em;
	font-weight: bold;
	text-transform: uppercase;
	color: #2A2829;
}

h2 {
	font-size: 1.7em;
	text-transform: uppercase;
	color: #2A2829;
}

h3 {
	font-size: 1.1em;
	text-transform: uppercase;
	color: #668284;
}

h4 {
	font-size: 1em;
	text-transform: uppercase;
	color: #668284;
}




/* Header */

.header {
	overflow: hidden;
	padding: 2em;
	text-align: center;
	background-color: white;
}




/* Main Menu */

.menu {
	overflow: hidden;
	padding: 0;
	font-weight: bold;
	background-color: #668284;
}

.menu li {
	display: inline;
}

.menu li a {
	float:left;
	padding: 0.7em;
	text-decoration: none;
	color: #FFF;
}

.menu li a:hover {
	background-color: #2A2829;
}

.menu li .active {
	background-color: #2A2829;
}

/* da rivere dimensioni*/
@media screen and (max-width: 640px) {
	.menu li {
		display: block;
	}
	.menu li a {
		width: 100%;
		padding: 0.4em;
	}
}




/* Breadcrumbs */

.breadcrumbs {
	padding: 0.7em;
	color: #FFF;
	background-color: #2A2829;
}
/* da rivere dimensioni*/
@media screen and (max-width: 640px) {
	.breadcrumbs {
		padding: 0.4em;
	}
}



/* Container */

.container {
	overflow: hidden;
	border-bottom: 1px solid #93B1C6;
	border-top: 1px solid #93B1C6;
	background-color: #FFF;
	padding: 2em;
}

.container h2 {
	margin-bottom: 0.5em;
}

.container p {
	margin-bottom: 1.5em;
}

.container ul {
	list-style-type: none;
}

.container li {
    border-bottom: 1px solid #C7D0D5;
    margin: 1.4em auto 1.4em auto;
}


.container a {
    text-decoration: none;
    font-weight: bold;
    color: #93B1C6;
    margin: 1.0em auto 1.0em auto;
}

.container img { 
    float: left; 
    margin: 4px;
    max-width: 120px;
}


/* Footer */

.footer {
	padding: 0.7em;
	text-align: center;
	background-color: #668284;
}

.footer p {
	font-size: 0.9em;
	text-transform: uppercase;
	color: #FFF;
}