/********************************************
				   GENERAL
*********************************************/

h1, h2, h3 {
	text-transform: uppercase;
}




/********************************************
				HEADER & FOOTER
*********************************************/

.header {
	margin: 0;
	padding: 0;
}

.header h1 {
	margin: 0;
	font-size: 1.8em;
	text-transform: uppercase;
	font-weight: bold;
}

.header p {
	margin: 0;
	font-size: .95em;
	text-transform: uppercase;
	font-weight: normal;
}

.footer {
	clear: both;
	padding: .5em;
	text-align: center;
}

.footer p {
	font-size: .9em;
}




/********************************************
				   MENU
*********************************************/

.menu {
	display: none !important;
}




/********************************************
				BREADCRUMBS
*********************************************/

.breadcrumbs {
	display: none !important;
}

.breadcrumbs p {
	display: none !important;
}




/********************************************
				COMMONS
*********************************************/

.content {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;

}

.date {
	font-size: .95em;
	text-transform: uppercase;
	font-weight: normal;
	color: #2A2829;
}

.topPage {
	display: none;
}




/********************************************
				   HOME
*********************************************/

.welcome h2 {
	margin-bottom: 0;
	padding-bottom: 0;
}
.welcome p {
	margin: 0;
	padding: 0;
}


.news p {
	padding: 0;
	margin: 0;
}

.news h3 {
	padding: 0;
	margin: 1.1em 0 0 0;
}


.news ol {
	margin: 0;
	list-style-type: none;
	padding: 0;
}




/********************************************
				   OPERATOR
*********************************************/

.operator dt {
	border: .1em dashed #2A2829;
	padding: .1em .25em .1em 1em;

}

.operator dd {
	border: .1em dashed #2A2829;
	border-top: none;
	color: #000;
	margin:0 0 1em 0;
	padding: 0 1em;
}

.operator dd li {
	list-style-position: inside;
	list-style-type: square;
	margin-left: 1em;
	text-align: left;
}

.operator dd img {
	display: none;
}

.operator dd h3 {
	text-align: left;
	margin: 0;
}
.operator p {
	text-align: left;
	margin: 0;
}




/********************************************
				   PLAN
*********************************************/

.plan {
	width: 80%;
	margin: 2em auto;
}

.plan img {
	display: block;
	margin: 0 auto;
	width: 30%;
}

.plan h2 {
	margin-top: 2em;
	text-align: center;
}


.plan dl {
	margin: 2em auto;
}
 
.plan dt {
	float:left; 
	font-weight:bold; 
	margin-right: 2em; 
	padding: .25em 0;	
	width: 5em; 
}
 
.plan dd {
	margin: .25em 0; 
	padding: .25em 0;
}

.plan p {
	font-size: .85em;
	margin: 3.75em auto;
}




/********************************************
				   LOGIN
*********************************************/

#loginForm {
	text-align: center;
	margin: 1em 0;
}

#loginForm input, select, textarea { 
    border: .1em #2A2829 solid;
    margin: 0;
}

#loginForm label { 
    display: block;
}

#textError p {
	color: red;
	text-align: center;
	margin: 5em 0;
}




/********************************************
				   ADMIN
*********************************************/

#admin {
	margin: 2em 0 0 0;
}

#admin h2 {
	text-align: left;
	margin: 0
}

#admin p {
	margin: 0;
	padding: 0;
}

#adminError {
	color: red;
	text-align: left;
}

#adminSuccess {
	color: green;
	text-align: left;
}

#adminForm {
	text-align: left;
	margin: 1em 0;
}

#adminForm label {
	display: inline-block;
    width: 20%;
}

#adminForm input, select, textarea { 
    border: .1em #2A2829 solid;
    margin: .5em 0;
}
