/***********************generale************************/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

html,body {
	font-family:arial,helvetica, sans-serif;
	font-size: 100%;
	max-width: 1680px;
	margin: auto;	
}

h1,h2,h3,h4,h5,h6{
	font-variant: small-caps;
}

a:link { 
	color: #000009
	text-decoration: underline;	
}

a:visited { 
	font-weight: bold; 
	text-decoration: underline; 
	color: #A0A;
}

a:hover, a:focus, a:active { 
	font-style: italic;
	color: #0000E6;
}


abbr {
	border-bottom: none;
}

#header{
    padding-bottom: 1em;
}
/***********************header************************/
#header{
    border: 2px solid;
    border-radius: 10px;
    position: relative;
	text-align: center;
	margin-left:2%;
    margin-right: 2%;
    height: 130px;
    top: 0em;
}

/***********************breadcrumbs************************/

#breadcrumbs{
    position: relative;
    border: 2px solid;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1.5%;
    margin-top: 0.5%;
    padding:0.2em; 
    padding-left:1.0em;
}

/***********************logo************************/
#immagine{
    border: 2px solid;
    border-radius: 10px;
    display: block;
    width: 10%;
    height: 65%;
    float: left;
    background:#FF0033;
    background-repeat: no-repeat;
    margin: 1%;
    margin-left: 2%;
    padding: 1.0em;
}
/************************* nav**************************/
#nav{
    position: relative;
    border-radius:10px;
    border: 2px solid;
	float:left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
	width:18%;
    height: 250px;
    padding:0.1em 1em 0.5em;
}

#nav ul{
	position:relative;
	left:5%;
	margin: 1%;
    padding:0.1em 1.0em 1em 0.5em;
    width:80%;
    height: 130px;
	list-style-type: none;
	line-height: 2em;
}

/***********************contenuto************************/
#content{
    position: relative;
    border-radius:10px;
    border: 2px solid;
	line-height: 1.8em;
    margin-right: 2%;
    margin-left:25%; 
    margin-top: 2%;
    padding:0.1em 1.5em 0.5em;
    height: 350px;
}
/***********************footer************************/
#footer{
    border: 2px solid;
    border-radius: 10px;
	margin-left: 2%;
    margin-right: 2%;
    margin-top: 0.5%;
    padding:0.5em;
}
/***********************container************************/
#container { 
    border-radius:10px;
    border: 2px solid;
    clear: both;
    height: 400px; /* 350px + 25px (padding sx) + 25px (padding dx) */
    overflow: hidden;
    margin-left: 2%;
    margin-right: 2%;
    
}
div.contenuto {
        
        color: #222;
        font-family: Verdana;
        font-size: 12px;
        margin-left: 2%;
        margin-right: 2%;
        background-color: #efefef;
        height: 400px;
    }
#tabs { font-family: Verdana, sans-serif; font-size: 14px; 
margin-left: 4.5%;}
/***********elementi tab********/
#tabs li {
    border-top:2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    list-style: none;
    float: left;
    width: 150px;
    height: 35px;
}
    #tabs li a {
        background-color: transparent;
        color: #222;
        font-weight: bold;
        width: 150px;
        height: 35px;
        display: block;
        line-height: 35px;
        text-align: center;
    }
        #tabs li a:hover{background-color: #00FF7F;}
        #tabs li a:active { background-color: #D2D2D2; }
 
