/* Generali */

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.center {
    width: 76%;
    margin: auto;
}


/* Header */

#header {
    text-align: center;
    padding: 2em;
}

#header h1 {
    color: #FF7148;
    font-size: 4em;
    text-shadow: 1px 1px rgba(62, 62, 62, 0.7);
}

#header h2 {
    color: #93B1C6;
    font-size: 2em;
    text-shadow: 1px 1px rgba(62, 62, 62, 0.7);
}


/* Tabs */

#tabs {
    width: 100%;
    text-align: center;
    border-top: 1px solid #93B1C6;
    background-color: #FF7148;
}

#tabs ul {
    overflow: hidden;
}

#tabs li {
    list-style-type: none;
    float: left;
    display: block;
    width: 20%;
    height: 50px;
    background-color: #FF7148;
}
#tabs li a {
    font-weight: bold;
    color: #F5F5F5;
    text-decoration: none;
    line-height: 50px;
}


/* Path */

#path {
    clear: both;
    background-color: #C7D0D5;
    color: #F5F5F5;
    padding: 0.5em 0.5em 0.5em 1.5em;
    border-top: 1px solid #93B1C6;
}



/* Container */

#container {
    background-color: #F5F5F5;
    clear: both;
    overflow: hidden;
    border-top: 1px solid #93B1C6;
    border-bottom: 1px solid #93B1C6;
}



/* Nav */

#nav{
	float:left;
	width:18%;
    padding: 1em;
}

#nav ul {
	list-style-type: none;

}



/* Content */

#content{
    padding: 1em;
    margin-left: 20%;

}

#content h1, h2, h3 {
    color: #93B1C6;
}


/* Temporaneo, per visualizzazione paragrafi */
#content h2, h3 {
    margin-top: 1.0em;
    margin-bottom: 0.5em;
}
#content h1 {
    margin-bottom: 0.5em;
}




/* Footer */

#footer {
    background-color: #C7D0D5;
    color: #F5F5F5;
    padding: 0.5em;
    text-align: center;
}


 
