<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Home - Smart Mobile Plans</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<meta name="keywords" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="../../css/main.css" media="all"/>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css"/>
	</head>

	<body>

		<!-- Start Header -->
		<div class="header">
			<h1>Smart Mobile Plans</h1>
			<h2>Choosing a mobile phone plan has never been this simple!</h2>
		</div> <!-- End Header -->


		<!-- Start Menu -->
		<div class="menu">
			<ul>
				<li><a href="home.cgi" title="Home">HOME</a></li>
				<li><a href="operator.cgi?name=tim">TIM</a></li>
				<li><a href="operator.cgi?name=vodafone">VODAFONE</a></li>
				<li><a href="operator.cgi?name=tre">TRE</a></li>
				<li><a href="operator.cgi?name=wind">WIND</a></li>
				<li><a href="about.html">ABOUT</a></li>
			</ul>
		</div> <!-- End Menu -->


		<!-- Start Breadcrumbs -->
		<div class="breadcrumbs">
			<p>You are in: <a title="Login" xml:lang="en">LOGIN</a>
		</div> <!-- End Breadcrumbs -->


		<!-- Start Container -->
		<div class="form-area">
			<h3>Admin area login: </h3>
			<div class="form-bg">
				<form class='general-form' method='post' action='admin.cgi' >
					<p>Username: <input type='text' name='username' /></p>
					<p>Password: <input type='password' name='pwd' /></p>
					<input type='submit' name='Submit' value='Submit' />
				</form>
				[% IF error == 'usr' %]
					<p class="error">Entered username does not exists</p>
				[% END %]
				[% IF error == 'pwd' %]
					<p class="error">Entered password is incorrect</p>
				[% END %]
			</div>
		</div> <!-- End Container -->


		<div class="footer">
			<p><a href="login.cgi" >Admin Area</a> | Copyright &copy; 2015 RocketTeam</p>
		</div> <!-- End Footer -->

	</body>

</html>